<table class="table table-hover table-condensed">
  <% @todolists.each do |todolist| %>
    <tr>
      <td>
        <div class="checkbox">
          <label>
            <input type="checkbox">
          </label>
        </div>
      </td>

      <td><%= todolist.name %></td>
      <td><%= link_to 'Show', todolist_path(todolist) %></td>
      <td><%= link_to 'Edit', edit_todolist_path(todolist) %></td>

      <% if Time.now.to_date <= todolist.due_date%>
        <td><%= link_to 'Destroy', todolist_path(todolist), method: :delete, data:{ confirm: "Are you sure delete it?" } %></td>
      <% else %>
        <td><%= 'OverDue.It cannot Destroy.' %></td>
      <% end%>

    </tr>
  <% end %>
</table>
<%= link_to 'New List', new_todolist_path %>
